:root {
	--cyan: hsl(179, 62%, 43%);
	--bright-yellow: hsl(71, 73%, 54%);
	--light-gray: hsl(204, 43%, 93%);
	--grayish-blue: hsl(218, 22%, 67%);
}

body {
	font-family: "Karla", sans-serif;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	background-color: var(--light-gray);
}

h1 {
	color: var(--cyan);
	font-size: 20px;
}

h1,
h2,
h3 {
	margin-top: 0;
}

h2,
h3,
p,
ul {
	color: white;
}

button {
	background-color: var(--bright-yellow);
	color: white;
	border: 1px solid var(--grayish-blue);
	border-radius: 6px;
	font-family: "Karla", sans-serif;
	padding: 12px 80px;
	margin-top: 15px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.329);
}

ul {
	padding: 0px;
}

li {
	list-style-type: none;
	color: rgba(255, 255, 255, 0.596);
	font-size: 13px;
	line-height: 1.2rem;
}

.container {
	width: 600px;
}

.bottom-half {
	display: flex;
	flex-direction: row;
}

/*styling for desktop top half below*/

.top-info {
	background-color: white;
	padding: 40px;
	border-radius: 7px 7px 0px 0px;
}

.thirty-day {
	color: var(--bright-yellow);
	font-weight: 700;
}

.gain-access {
	color: var(--grayish-blue);
	margin-bottom: 0;
	font-size: 15px;
	line-height: 1.5rem;
}

/*styling for desktop left card below*/

.subscription-heading {
	font-size: 18px;
}

.pricing-info {
	background-color: var(--cyan);
	padding: 40px 40px 20px 40px;
	width: 300px;
	border-radius: 0px 0px 0px 7px;
}

.subscription-price {
	font-size: 30px;
	font-weight: 700;
	margin: 0;
}

.per-month {
	color: rgba(255, 255, 255, 0.452);
	font-size: 16px;
	font-weight: 400;
}

.full-access {
	font-size: 14px;
}

/*styling for desktop right card  below*/

.why-us-info {
	background-color: hsla(179, 62%, 43%, 0.801);
	padding: 40px 40px 20px 40px;
	width: 300px;
	border-radius: 0px 0px 7px 0px;
}

/*attribution styling*/

.attribution {
	font-size: 11px;
	text-align: center;
	color: black;
	margin-top: 30px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/*mobile styling media query*/

@media (max-width: 900px) {
	body {
		margin: 10px 5px 10px 5px;
	}

	button {
		padding: 17px 104px;
		border: 1px solid var(--grayish-blue);
		border-radius: 6px;
		font-family: "Karla", sans-serif;
		font-weight: 700;
		margin-top: 15px;
		box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.329);
	}

	li {
		font-size: 15px;
		line-height: 1.3rem;
	}

	.container {
		width: 310px;
	}

	.pricing-info,
	.why-us-info {
		width: auto;
	}

	.top-info,
	.pricing-info,
	.why-us-info {
		padding: 25px;
	}

	.why-us-info {
		padding-bottom: 10px;
	}

	/*first section mobile styling*/

	.gain-access {
		font-size: 13px;
	}

	/*second section mobile styling*/

	.pricing-info {
		border-radius: 0px;
	}

	.subscription-heading {
		font-size: 18px;
	}

	/*bottom section mobile styling*/

	.bottom-half {
		display: flex;
		flex-direction: column;
	}

	.why-us-info {
		border-radius: 0px 0px 7px 7px;
	}
}
